doctype html
html(lang="en")
    head
        
        include ../../headData.pug

        link(rel="stylesheet" href="/public/styles/userAccount/template.css")

        title ARR links
        block include-file

    body
        nav 
            h2 #[a#logo(href="/") ]

            .nav-items 
                ul 
                    li 
                        a(href="/user") 
                            <i class="fa-solid fa-house"></i>
                            span.menu-item 

                    li 
                        a(href="/user/urls") 
                            i.fa-solid.fa-link 
                            span.menu-item 

                    li 
                        a(href="/user/create") 
                            <i class="fa-regular fa-circle-plus"></i>
                            span.menu-item 

                    li 
                        a(href="/user/order")
                            <i class="fa-regular fa-bag-shopping"></i>
                            span.menu-item 

                    li
                        a(href="/user/notifications") 
                            <i class="fa-regular fa-bell"></i>
                            span.menu-item 

                    li#profile-menu-icon 
                        a(href="/user/profile") 
                            //- Add logic to show user photo if there is not any profile photo then by default display user icon
                            <i class="fa-solid fa-user"></i>
                            span.menu-item 

                ul#log-out 
                    li 
                        a(href="/user/log-out")
                            <i class="fa-solid fa-right-from-bracket"></i>
                            span.menu-item 

        //- body content 
        main
            block content

        //- footer content
        //- include ./components/footer.pug

        block script
        
        script(src="http://localhost:3000/public/script/userAccount/template.js") 