footer
    .footer-container
        .Author
            p
                | Create By: 
                span Aman Raj Rana
            p
                a(href='https://www.')
                    i.fa-brands.fa-linkedin
                a(href='https://www.')
                    i.fa-brands.fa-github
        .about-us
            h3 About
            p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est laborum necessitatibus, et cum
                | asperiores ut rerum. Tempora illo veritatis consequatur quaerat quam earum vel laboriosam,
                | consectetur sunt tenetur neque iste.
        .footer-menu
            h3 Contact
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') Twitter
                li
                    a(href='#') Privacy Policy
                li
                    a(href='#') Terms of Use
    .credit
        | &copy; 2023 Arr link shortener || All rights reserve