doctype html
html(lang="en")
    head
        include headData.pug
        link(rel='stylesheet' href='/public/styles/base.css')

        title ARR link shortener
        block include-file

    body

        //- include navbar
        nav
            .navbar
                .container.nav-container
                    input.checkbox(type='checkbox' name='' id='')
                    .hamburger-lines
                        span.line.line1
                        span.line.line2
                        span.line.line3
                    .logo
                        h2.main-logo #[a(href="/") ARR link Shortener] 
                    .menu-items
                        li
                            a(href='/') HOME
                        li
                            if isLogin
                                a(href='/user') Account
                            else
                                a(href='/url-analytics') TRACK
                        li
                            a(href='/#card-container') Pro+
                        li
                            if isLogin
                                a(href='/user/log-out') Log Out 
                            else 
                                a(href='/sign-in') Sign In 
            //- nav bar

        nav.wide-screen-nav
            .max-area
                //- logo
                h2.main-logo #[a(href="/") ARR link Shortener] 

                //- nav menu
                
                ul.main-menu
                    li
                        a(href='/') HOME
                    li                        
                        if isLogin
                            a(href='/user') Account
                        else
                            a(href='/url-analytics') TRACK
                    li
                        a(href='/#card-container') Pro+
                    li
                        //- Write code if user is login then display Log out else display sign in
                        if isLogin
                            a(href='/user/log-out') Log Out 
                        else 
                            a(href='/sign-in') Sign In 

        //- body content 
        block content

        //- footer content
        footer
            .footer-container
                .Author
                    p
                        | Create By: 
                        span Aman Raj Rana
                    p
                        a(href='https://www.linkedin.com/in/arrana')
                            i.fa-brands.fa-linkedin
                        a(href='https://www.')
                            i.fa-brands.fa-github
                .about-us
                    h3 About
                    p
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est laborum necessitatibus, et cum
                        | asperiores ut rerum. Tempora illo veritatis consequatur quaerat quam earum vel laboriosam,
                        | consectetur sunt tenetur neque iste.
                .footer-menu
                    h3 Contact
                    ul
                        li
                            a(href='#') Contact Us
                        li
                            a(href='#') Twitter
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Terms of Use
            .credit
                | &copy; 2023 Arr link shortener || All rights reserve

        block script