doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title demo
    body 
        h1 This is heading 
        button(onclick="main1()" value="click me")

        script.
            function main1() {
                let urlOptions = {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },

                        body: JSON.stringify({
                            "url": "rana.com"
                        }),
                    }

                    fetch('http://127.0.0.1:3000/short-url', urlOptions)
                        .then((response) => response.json())
                        .then((json) => console.log(json));
                }