/* utility classes */
.hidden {
    display: none !important; 
    visibility: hidden;
}

/* custom shape divider styling */
.custom-shape-divider-bottom-1679747064 {
    background: linear-gradient(to left, var(--color-primary), rgb(88, 4, 184));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    /* min-height: 650px; */
    height: 650px;
    z-index: -1;
}

.custom-shape-divider-bottom-1679747064 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1679747064 .shape-fill {
    fill: #ffffff;
}


@keyframes bg-color-animation {
    0% {
        background-image: red;
    }

    100% {
        background-color: green;
    }
}



/* USER INPUT SECTION STYLING  */
section {
    max-width: var(--width-max-body);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

section h2 {
    color: var(--color-secondary);
    font-size: 2rem;
    text-align: center;
    margin: 25px;
}

section form,
.short-url-container {
    background-color: var(--color-secondary);
    display: flex;
    width: 95%;
    max-width: 600px;
    align-items: center;
    font-weight: 600;
}

section form {
    justify-content: space-between;
    padding: 4px;
    font-size: 1.5rem;
    border: 1px solid rgb(144, 143, 143);
}

form i {
    margin: 5px;
    margin-left: 8px;
    color: var(--color-primary);
}

section input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 75%;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 8px;
}

section input[type="button"] {
    background: var(--background-color);
    color: var(--color-secondary);
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 100px;
    width: 20%;
    font-size: 1rem;
    margin-right: 5px;
}

/* class="short-url-container" */
.short-url-container {
    flex-direction: column;
}

.short-url-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(144, 143, 143);
}

.short-url-container span {
    display: flex;
    align-items: center;
}

.short-url-container span:first-child {
    padding: 18px;
}

.short-url-container i {
    margin: 4px;
    font-size: 1.8rem;
    cursor: pointer;
}

.short-url-container i:hover {
    color: var(--color-primary);
}

/* Error message  */
#error-box {
    /* margin: 20px auto; */
    color: #f83b3b;
    background: #ffb9b9;
    padding: 10px 20px;
    border-left: 10px solid red;
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: 400;
}

/* add some space due to lining in shape divider  */
.space {
    margin-top: 100px;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid red; */
}

/* ARTICLE STYLING AREA  */
article {
    color: var(--color-paragraph);
    background-color: #fff;
    max-width: var(--width-max-body);
    margin: auto;
    /* border: 2px solid red; */
    padding: 125px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article .heading {
    display: flex;
    max-width: 550px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid rgb(3, 255, 45); */
}

/* price container  */


.card-container {
    margin: 30px 0;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.card-container h3 {
    font-size: 1.6rem;
    color: var(--color-paragraph);
    margin: 20px;
}



/* create account css  */
.create-account a {
    background: var(--background-color);
    text-decoration: none;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    color: var(--color-secondary);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}


article p:last-child {
    margin: 10px;
}


@media (max-width: 650px) {
    .space {
        margin-top: 89px;
    }
}