extends ../../base.pug

block include-file 
    link(rel="stylesheet", href="/public/styles/home.css")
    link(rel="stylesheet", href="/public/styles/cards.css")



block content 

    .custom-shape-divider-bottom-1679747064
        svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
            path.shape-fill(d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z')
    
    section
        if isLogin 
            img(scr="" onload="getGreeting()")
            p.user #[span#greeting ] #{user.firstName}

        h2 ARR links
        form
            i.fa-solid.fa-link
            input(type='text' name='url' id='long-url' placeholder='paste url' )
            input#short-btn(type="button" value="short" onclick="getShortUrl()")

        //- Display short url

        .short-url-container
            .hidden#hidden
                div
                    span.short-urls
                    span
                        i.fa-regular.fa-copy(title='copy')
                        i.fa-solid.fa-qrcode(title='generate QR code' onclick="generateQR(0)")
                div
                    span.short-urls 
                    span
                        i.fa-regular.fa-copy(title='copy')
                        i.fa-solid.fa-qrcode(title='generate QR code', onclick="generateQR(1)")
            
            //- display when error
            div#error-box.hidden 
                p#error-msg

    .space
        //- add some space due to lining in shape divider

    article
        //- Display QR code if user requested
        .qr-code-container.hidden
            //- inject code with help of JavaScript
            //- img(src="static/generated-qr-images/1682342439344.png", alt="QR code", width="200")
            //- a(href="static/generated-qr-images/1682342439344.png" download) download 


        .heading
            h2 One short link, infinite possibilities
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum debitis numquam obcaecati vitae in facere
                | odit quia dolore repellat fuga? Quam distinctio corporis qui iure ratione ducimus, corrupti natus
                | sapiente!

        //-  include card        
        #card-container.card-container
            h3 Go with link Shortener pro
            include cards.pug

        //- create account button
        .create-account
            a(href='/sign-up') create account
        p
            | Already have an account? 
            a(href='/sign-in') Log In

block script
    script(src="/public/script/home.js") 